*{
    background-color:#282C33;
    color: white;
    font-family:  "Fira Code";
}
.content{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-inline:20px; 
}
.contact_form{
    display: flex;
    flex-direction: column;
}